<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dohwan.login.mapper.UserMapper">

    <resultMap type="com.dohwan.login.domain.Users" id="userMap">
        <id property="no" column="no" />
        <result property="no" column="no" />
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="enabled" column="enabled" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        
        <!-- 1:N 관계 매핑 -->
        <collection property="authList" 
                    select="authList" 
                    column="username" 
                    ofType="UserAuth"></collection>
    </resultMap>

    <resultMap type="com.dohwan.login.domain.UserAuth" id="authMap">
        <result property="no" column="no" />
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultMap>

    <!-- 회원 조회 - username -->
    <select id="select" resultMap="userMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <select id="findByUsername" resultMap="userMap">
        SELECT * 
        FROM users 
        WHERE username = #{username}
    </select>

    <!-- 회원 권한 -->
    <select id="authList" resultMap="authMap">
        SELECT *
        FROM user_auth
        WHERE username = #{username}
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO users ( id, username, password, name, email )
        VALUES ( #{id}, #{username}, #{password}, #{name}, #{email} )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="com.dohwan.login.domain.Users">
  UPDATE users
     SET password = COALESCE(#{password}, password),
         name = COALESCE(#{name}, name),
         email = COALESCE(#{email}, email),
         updated_at = now()
   WHERE username = #{username}
</update>


    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth ( username, auth )
        VALUES ( #{username}, #{auth} )
    </insert>

    <!-- 회원 삭제 SQL -->
    <delete id="delete" parameterType="String">
        DELETE FROM users WHERE username = #{username};
    </delete>

    <!-- 회원 권한 삭제 SQL -->
    <delete id="deleteAuth" parameterType="String">
        DELETE FROM user_auth WHERE username = #{username};
    </delete>

    <!-- 운동 기록 삭제 SQL -->
    <delete id="deleteByUserNo" parameterType="Long">
        DELETE FROM records WHERE user_no = #{userNo};
    </delete>


      <!-- 사용자 조회 by 이메일 -->
  <select id="findByEmail" resultType="com.dohwan.login.domain.Users">
    SELECT *
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 사용자 등록 -->
  <insert id="insertUser" parameterType="com.dohwan.login.domain.Users">
    INSERT INTO users (
      username,
      name,
      email,
      password,
      enabled,
      created_at,
      updated_at
    ) VALUES (
      #{username},
      #{name},
      #{email},
      #{password},
      #{enabled},
      NOW(),
      NOW()
    )
  </insert>

  <!-- 권한 등록 -->
  <insert id="insertUserAuth" parameterType="com.dohwan.login.domain.UserAuth">
    INSERT INTO user_auth (
      username,
      auth
    ) VALUES (
      #{username},
      #{auth}
    )
  </insert>

  <!-- 사용자 권한 목록 조회 -->
  <select id="findAuthListByUsername" resultType="com.dohwan.login.domain.UserAuth">
    SELECT *
    FROM user_auth
    WHERE username = #{username}
  </select>


</mapper>
