header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    font-weight: 700;
}

/* ========================= */
/* 로고 스타일 */
/* ========================= */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 80px;
  width: auto;
  transition: transform .3s ease, box-shadow .3s ease;
  cursor: pointer;
}


.logo-container img {
  height: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.util ul {
  display: flex;
  gap: 15px;
}
.btn,.btn:link,.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 9px;
    font-family: inherit;
    padding: 8px 16px;
    transition: background .2s ease,transform .2s ease
}

.util li a:hover,
.util li button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.util li button,.util li a {
    background: none;
    border: none;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background .2s ease;
    cursor: pointer;
    font-size: 16px
}


